<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- Cfg DriverManagerDataSource as spring bean -->
        <bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
            <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
            <property name="username"  value="system"/>
            <property name="password"  value="manager1"/>
        </bean>
        
        <!-- cfg DAO Impl class as spring bean  -->
        <bean id="studDAO"  class="com.nt.dao.StudentDAOImpl">
            <constructor-arg name="ds" ref="drds"/>
        </bean>
        
         <!-- cfg Service Impl class as spring bean  -->
        <bean id="studService"  class="com.nt.service.StudentMgmtServiceImpl">
          <constructor-arg name="dao" ref="studDAO"/>
        </bean>
        
        <!-- cfg Controller class as spring bean  -->
          <bean id="controller"  class="com.nt.controller.MainController">
             <constructor-arg name="service" ref="studService"/>
          </bean>
        
</beans>        