<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
         
         <!-- spring beans cfg -->
         
         <bean id="dt" class="java.util.Date"/>  <!-- Dependent spring bean  -->
         
         <bean id="wmg"  class="com.nt.beans.WishMessageGenerator"  scope="singleton"  lazy-init="true">  <!-- target spring bean -->
             <property name="date" ref="dt"/>  <!-- setter Injeciton cfg  -->
         </bean>
         
        
        
</beans>        