<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		<context:property-placeholder location="com/nt/commons/jdbc.properties"/>
		
        <!-- Cfg DriverManagerDataSource as spring bean -->
        <bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
            <property name="driverClassName" value="${jdbc.driver}"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username"  value="${jdbc.username}"/>
            <property name="password"  value="${jdbc.password}"/>
        </bean>
        
        
    <!--   <context:component-scan base-package="com.nt.dao,com.nt.service,com.nt.controller"/>  -->       
        <context:component-scan base-package="com.nt"/>
        
        <alias name="${dao.choose}" alias="dao"/>
        
</beans>
